Milene Carmes Vallejo
12/13/2022

# Import

In [1]:
import pandas as pd
import numpy as np

# Downloads the Files

In [2]:
basics_url = 'https://datasets.imdbws.com/title.basics.tsv.gz'
akas_url = 'https://datasets.imdbws.com/title.akas.tsv.gz'
ratings_url = 'https://datasets.imdbws.com/title.ratings.tsv.gz'

# Loading TSV's with Pandas

In [3]:
basics = pd.read_csv(basics_url, sep = '\t', low_memory = False)
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
9443784,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
9443785,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
9443786,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
9443787,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
9443788,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Adventure,Animation,Comedy"

In [4]:
akas = pd.read_csv(akas_url, sep = '\t', low_memory = False)
akas

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0
...,...,...,...,...,...,...,...,...
34171760,tt9916852,5,Episódio #3.20,PT,pt,\N,\N,0
34171761,tt9916852,6,Episodio #3.20,IT,it,\N,\N,0
34171762,tt9916852,7,एपिसोड #3.20,IN,hi,\N,\N,0
34171763,tt9916856,1,The Wind,DE,\N,imdbDisplay,\N,0
34171764,tt9916856,2,The Wind,\N,\N,original,\N,1

In [5]:
ratings = pd.read_csv(ratings_url, sep = '\t', low_memory = False)
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1925
1        tt0000002            5.8       261
2        tt0000003            6.5      1741
3        tt0000004            5.6       176
4        tt0000005            6.2      2554
...            ...            ...       ...
1256770  tt9916690            7.4         6
1256771  tt9916720            5.4       285
1256772  tt9916730            8.0         8
1256773  tt9916766            6.7        21
1256774  tt9916778            7.3        35

[1256775 rows x 3 columns]

# Required Preprocessing - Details


According to the data dictionary, null values have been encoding as \N.

You will want to find those and replace them with np.nan.

However, the backslash (\) character is a special one that tells the computer to ignore whatever character comes next.

So if we were to say df.replace({'\N':np.nan}), the computer would see \N as an empty string.

To fix this, add a second backslash character, which will tell the computer that you actually WANTED to use a literal \.

df.replace({'\\N':np.nan})

In [6]:
basics= basics.replace({'\\N':np.nan})
akas = akas.replace({'\\N':np.nan})
ratings =ratings.replace({'\\N':np.nan})

## Basics

In [7]:
# check duplicates
basics.duplicated().sum()

0

In [8]:
# Replace "\N" with np.nan
basics= basics.replace({'\\N':np.nan})

In [9]:
# check nan values
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle           11
originalTitle          11
isAdult                 1
startYear         1265131
endYear           9344028
runtimeMinutes    6764996
genres             431698
dtype: int64

#### Eliminate movies that are null for runtimeMinutes and genre

In [10]:
#Eliminate movies that are null for runtimeMinutes and genre
basics = basics.dropna(subset=['runtimeMinutes', 'genres'])

In [11]:
#check nan values 
basics.isna().sum()

tconst                  0
titleType               0
primaryTitle            1
originalTitle           1
isAdult                 0
startYear          106681
endYear           2558084
runtimeMinutes          0
genres                  0
dtype: int64

In [12]:
# check type
basics['titleType'].value_counts()

tvEpisode       1247479
short            585319
movie            373600
video            177511
tvMovie           89341
tvSeries          88223
tvSpecial         17204
tvMiniSeries      16558
tvShort            9499
videoGame           313
Name: titleType, dtype: int64

#### Keep only titleType==Movie

In [13]:
# keep only titleType==Movie
basics = basics.loc[basics['titleType'] == 'movie']
# check type
basics['titleType'].value_counts()

movie    373600
Name: titleType, dtype: int64

#### filter startYear 2000-2022

In [14]:
# check startYear
basics['startYear'].value_counts()

2017    14254
2018    14201
2019    13889
2016    13870
2015    13389
        ...
1899        1
1904        1
1897        1
1896        1
1894        1
Name: startYear, Length: 129, dtype: int64

In [15]:
# check dtype
basics['startYear'].dtype

dtype('O')

In [16]:
# we need to change to integer to filter 2000-2021 but first drop nan
basics = basics.dropna(subset=['startYear'])

In [17]:
# change to integer
basics['startYear'] = basics['startYear'].astype(int)
# check
basics['startYear'].dtype

dtype('int32')

In [18]:
# filter startYear 2000-2022
basics = basics[(basics['startYear'] >=2000) & (basics['startYear'] <=2022)]
# Check 
basics['startYear'].value_counts()

2017    14254
2018    14201
2019    13889
2016    13870
2015    13389
2014    13019
2013    12322
2021    12022
2012    11574
2022    11466
2020    11385
2011    10726
2010    10149
2009     9311
2008     8107
2007     6916
2006     6458
2005     5786
2004     5157
2003     4548
2002     4105
2001     3822
2000     3611
Name: startYear, dtype: int64

#### Exclude movies that are included in the documentary category.

In [19]:
# Exclude movies that are included in the documentary category.
is_documentary = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_documentary]

#### Keep only US movies (Use AKAs table)

## AKAs

#### keep only US movies.

In [20]:
akas = akas[(akas['region'] == 'US')]
# check
akas['region'].value_counts()

US    1392037
Name: region, dtype: int64

In [21]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers =basics['tconst'].isin(akas['titleId'])
basics = basics[keepers]
basics

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
34804,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
61117,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
67670,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
86802,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
93939,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,NaN,126,Drama
...,...,...,...,...,...,...,...,...,...
9442925,tt9914942,movie,Life Without Sara Amat,La vida sense la Sara Amat,0,2019,NaN,74,Drama
9443321,tt9915872,movie,The Last White Witch,My Girlfriend is a Wizard,0,2019,NaN,97,"Comedy,Drama,Fantasy"
9443461,tt9916170,movie,The Rehearsal,O Ensaio,0,2019,NaN,51,Drama
9443470,tt9916190,movie,Safeguard,Safeguard,0,2020,NaN,95,"Action,Adventure,Thriller"
9443554,tt9916362,movie,Coven,Akelarre,0,2020,NaN,92,"Drama,History"

In [22]:
# Replace "\N" with np.nan
akas= akas.replace({'\\N':np.nan})

## Ratings

In [23]:
# Replace "\N" with np.nan
ratings= ratings.replace({'\\N':np.nan})

In [24]:
# Filter the basics table down to only include the US by using the filter akas dataframe
keepers1 =ratings['tconst'].isin(akas['titleId'])
ratings = ratings[keepers1]
ratings

            tconst  averageRating  numVotes
0        tt0000001            5.7      1925
1        tt0000002            5.8       261
4        tt0000005            6.2      2554
5        tt0000006            5.1       175
6        tt0000007            5.4       797
...            ...            ...       ...
1256749  tt9916204            8.2       250
1256755  tt9916348            8.5        17
1256756  tt9916362            6.4      5048
1256760  tt9916428            3.8        14
1256771  tt9916720            5.4       285

[478707 rows x 3 columns]